body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('../imagenes/pizza_fondo3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body, .sidebar { /*fuente mas moderna para el sidebar*/
    font-family: 'Roboto', sans-serif; 
}

header {
    width: 90%;
    margin: 50px auto;
    border-radius: 20px;
}

.pie{  /*cuadro para centrar el pie de pagina*/
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
}

footer {
    left: 0;
    bottom: 0;
    width: 95%;
    min-height: 120px;
    background-color: #000000;
    color: white;
    text-align: left;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.cont_pie {
    max-height: 150px;
    aspect-ratio: 1/1;
    width: auto; /* Ajusta el ancho del contenedor de la imagen */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga */
}

.cont_pie img {
    height: 100%; /* Haz que la imagen sea más grande que el contenedor */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    object-fit: cover; /* Recorta la imagen para llenar completamente el contenedor */
}

.redes-sociales{
    width: 15%;
    max-width: 120px;
}

.redes-sociales img {
    width: 24px;
    margin: 0 10px;
    filter: invert(1); /* Cambia el color a blanco si el fondo es oscuro */
}

.nav-pie {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    width: 30%;
    max-width: 250px;
}

.pie_p{
    width: 20%;
    max-width: 170px;
}

.nav-pie a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.suscripcion{
    width: 20%;
    max-width: 200px;
}

.suscripcion form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.suscripcion input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.suscripcion button {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.contacto {
    margin-top: 10px;
    font-size: 14px;
    width: 20%;
    max-width: 170px;
}

/* Sidebar */
.sidebar {
    max-width: 15%; /* Mantiene el ancho máximo */
    width: 15%; /* Garantiza un ancho fijo del sidebar */
    min-width: 15%;
    background: linear-gradient(135deg, #e07034, #a04513);
    background-color: #e07034;
    color: white;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    position: fixed; /* Hace que el sidebar sea fijo */
    top: 0;
    left: 0;
    height: 200vh; /* Asegura que cubra toda la altura de la ventana */
    overflow-y: auto; /* Permite desplazamiento interno si el contenido excede */
    padding: 1vw;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

.sidebar-titulo {
    font-size: 1.2rem; /* Aumenta ligeramente el tamaño para destacar */
    font-weight: bold; /* Mantiene el peso en negrita */
    margin-bottom: 20px;
    text-align: center;
    color: #fff; /* Blanco para un buen contraste */
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    letter-spacing: 2px; /* Añade un poco de espacio entre las letras */
    background: linear-gradient(90deg, #7b320b, #ba4d13); /* Gradiente para un efecto moderno */
    padding: 10px; /* Agrega espacio interior */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones para interacción */
}

@media (max-width: 768px) {
    .sidebar-titulo {
        font-size: 0.4rem; /* Ajusta el tamaño en pantallas pequeñas */
        padding: 1vw; /* Reduce el espacio interior */
    }
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}

.sidebar nav ul li:last-child {
    border-bottom: none; /* Quita el borde del último elemento */
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1vw;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

@media (max-width: 768px) {
    .sidebar nav ul li a {
        font-size: 0.56rem; /* Reduce el tamaño del texto en pantallas más pequeñas */
    }
}

.sidebar nav ul li a:hover {
    background-color: #a04513;
    transform: scale(1.05);
}

.imagen_sidebar{
    width: 80%;
    height: auto;
    margin: auto;
}

.imagen_sidebar img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Main Content */
.main-content {
    flex-grow: 1; /* Ocupa el espacio restante */
    margin-left: 15%; /* Desplaza el contenido principal para no superponerse al sidebar */
    width: calc(100% - 15%); /* Ajusta el ancho del contenido principal */
}

/*contenedores*/
.contenedor-transparente {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    min-width: 100px;
    min-height: 100px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    overflow: hidden; 
}

.cont-prodinicio {
    width: 65%;
    border: 4px solid #ee7936; /* Mantiene el borde naranja */
    background: linear-gradient(135deg, #fdfcfb, #fff5da);
    color: #333; /* Texto oscuro para buena legibilidad */
    text-align: center;
    font-family: 'Arial', sans-serif;
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin: 20px auto;
}

.cont-prodinicio h1 {
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(135deg, #ee7936, #d95f02); /* Gradiente naranja */
    color: #fff; /* Texto blanco para contraste */
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra para destacar */
    margin-bottom: 15px;
}

.cont-prodinicio p {
    font-size: 1.1rem;
    line-height: 1.6; /* Mejora la legibilidad */
    margin-top: 10px;
    color: #555; /* Gris oscuro */
}

/*buscador*/
.barra-busqueda {
    text-align: center;
    margin: 20px 0;
}

#buscador {
    width: 60%;
    padding: 10px;
    font-size: 1.5vw;
    border: 5px solid #ee7936; /* Bordes más delgados */
    border-radius: 5px;
    background-color: #fff7e6;
    border-radius: 15px;
    
}
/*fin buscador*/

.cont-recetario {
    width: 80%;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #fff7e6; /* Color pastel cálido */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para resaltar */
    padding: 20px;
    border: 4px solid #e1aa8a; 
}


.cont-titulo_recetario {
    width: 70%;
    background: linear-gradient(135deg, #f8b500, #ed6f63); /* Gradiente cálido */
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    color: white; /* Contraste para el texto */
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
}

.cont_receta1 {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border: 4px solid #ee7936; 
    border-radius: 15px;
}

/* Estilo base */
.cont-img_receta {
    width: 100%;
    text-align: center;
}

.img_receta1 {
    margin: 15px 0;
    width: 30%;
    border-radius: 20px;
    border: 4px solid #f86b81;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos responsivos */
@media (max-width: 768px) { /* Resoluciones menores a 768px */
    .header_ingredientes {
        flex-direction: column; /* Cambia de filas a columnas */
    }

    .img_ingredientes {
        width: 100%; /* Imagen ocupa toda la fila */
        margin-top: 10px; /* Separación entre bloques */
    }

    .texto_ingredientes {
        width: 100%; /* Texto ocupa toda la fila */
    }

    .img_receta1 {
        width: 80%; /* Imagen más grande y centrada */
    }
}

.cont-texto_receta {
    padding: 20px;
    background: #fff7e7; /* Fondo beige claro */
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    color: #333; /* Texto oscuro */
}

.texto_ingredientes {
    padding: 15px;
    background: #fef5e6; /* Fondo claro con textura */
    border-radius: 15px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra interna */
    margin-right: 10px;
    flex: 1;
}

.texto_preparacion{
    font-size: 20px;
    padding: 20px;
}

.header_ingredientes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Separación entre elementos */
}

.img_ingredientes{
    width: 35%;
    height: auto;

}

.img_ingredientes img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

.texto_preparacion {
    font-size: 1rem;
    line-height: 1.6;
    padding: 15px;
    margin-top: 15px;
    color: #555; /* Gris oscuro */
    border-left: 4px solid #c5cf53; /* Barra decorativa */
}

.img_receta1{
    margin: 15px 0 15px 0;
    width: 30%;
    height: auto;
    border-radius: 20px;
    border: 4px solid rgb(198, 104, 28);
}

.cont_receta1 p{
    text-align: left;
}